// This is the top-level scss file. Import all other files in here.
@import 'home';

  nav p {
    float: right;
    margin-top: -1.5%;
  }


  article.notification {
    font: Serif;
    font-style: italic;
    color: blue;
    font-weight: 400;
    padding: 4px 0;

    .notification-system {
      flex: 15; margin-right:55px; overflow: hidden; font-weight: 700;
    }

    .notification-content {
      flex: 85;
    }
  }

  div.image {
    margin-left: 100px;
    margin-bottom: 30px;
    width: 60%;
    border: solid black 2px;


  img {
    max-height: 100%;
    max-width: 100%;
  }

  }

#image-content {
  margin-left: 70px;
  dispay: block;
}
