// This is the top-level scss file. Import all other files in here.
@import 'home';

  nav p {
    float: right;
    margin-top: -1.5%;
  }


  article.notification {
    font: Serif;
    font-style: italic;
    color: blue;
    font-weight: 400;
    padding: 4px 0;

    .notification-system {
      flex: 15; margin-right:55px; overflow: hidden; font-weight: 700;
    }

    .notification-content {
      flex: 85;
    }
  }
